<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  <listener class-name="com.telliant.core.web.Reporting">
  </listener>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.telliant.core.web.BaseClass"/>
     <class name="com.telliant.tests.Draft"/>
     <!-- <class name="com.telliant.tests.SmokeTestCases"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
